body {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  line-height: 1.5;
}

body .main_container {
  width: 768px;
  display: inline-block;
  position: relative;
}

body .main_container .left_block {
  width: 100px;
  display: inline-block;
}

body .main_container .left_block .div_table {
  display: table;
  width: 100%;
  border-top: 1px solid #e1e2e4;
}

body .main_container .left_block .div_table .div_tr {
  display: table-row;
  height: 50px;
}

body .main_container .left_block .div_table .div_tr .div_td {
  display: table-cell;
  border-left: 1px solid #e1e2e4;
  border-bottom: 1px solid #e1e2e4;
  color: #666;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

body .main_container .left_block .div_table .div_tr .div_td:first-child {
  background: #f1f1f1;
}

body .main_container .left_block .div_table .div_tr .div_td.first_td {
  padding: 5px;
  background: #eaedf2;
}

body .main_container .left_block .div_table .div_tr .div_td.first_td .fristText {
  height: 25px;
  float: left;
}

body .main_container .left_block .div_table .div_tr .div_td.first_td .fristText:first-child {
  line-height: 25px;
  float: right;
}

body .main_container .right_block {
  width: calc((100% - 100px));
  display: inline-block;
}

body .main_container .right_block .div_table {
  display: table;
  width: 100%;
  border-top: 1px solid #e1e2e4;
  border-right: 1px solid #e1e2e4;
}

body .main_container .right_block .div_table .div_tr {
  display: table-row;
  height: 50px;
}

body .main_container .right_block .div_table .div_tr:first-child {
  background: #eaedf2;
}

body .main_container .right_block .div_table .div_tr .div_td {
  display: table-cell;
  border-left: 1px solid #e1e2e4;
  border-bottom: 1px solid #e1e2e4;
  color: #666;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

body .main_container .right_block .div_table .div_tr .div_td.active {
  background-color: #f7f7f7;
}

body .main_container .btn_container {
  display: none;
}

@media screen and (max-width: 769px) {
  body .main_container {
    width: 100%;
    min-width: 320px;
  }
  body .main_container .left_block {
    width: 100px;
    display: inline-block;
  }
  body .main_container .left_block .div_table {
    display: table;
    width: 100%;
    border-top: 1px solid #e1e2e4;
  }
  body .main_container .left_block .div_table .div_tr {
    display: table-row;
    height: 50px;
  }
  body .main_container .left_block .div_table .div_tr .div_td {
    display: table-cell;
    border-left: 1px solid #e1e2e4;
    border-bottom: 1px solid #e1e2e4;
    color: #666;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  body .main_container .left_block .div_table .div_tr .div_td:first-child {
    background: #f1f1f1;
  }
  body .main_container .left_block .div_table .div_tr .div_td.first_td {
    padding: 5px;
    background: #eaedf2;
  }
  body .main_container .left_block .div_table .div_tr .div_td.first_td .fristText {
    height: 25px;
    float: left;
  }
  body .main_container .left_block .div_table .div_tr .div_td.first_td .fristText:first-child {
    line-height: 25px;
    float: right;
  }
  body .main_container .right_block {
    overflow-x: hidden;
  }
  body .main_container .right_block .div_table {
    width: 233%;
  }
  body .main_container .right_block .div_table .div_tr {
    width: 100%;
    height: 51px;
  }
  body .main_container .right_block .div_table .div_tr .div_td {
    min-width: calc(100% / 7);
    width: calc(100% / 7);
  }
  body .main_container .right_block .div_table.transform3 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform ease 1s;
    transition: -webkit-transform ease 1s;
    transition: transform ease 1s;
    transition: transform ease 1s, -webkit-transform ease 1s;
  }
  body .main_container .right_block .div_table.transform4 {
    -webkit-transform: translateX(-14.4%);
            transform: translateX(-14.4%);
    -webkit-transition: -webkit-transform ease 1s;
    transition: -webkit-transform ease 1s;
    transition: transform ease 1s;
    transition: transform ease 1s, -webkit-transform ease 1s;
  }
  body .main_container .right_block .div_table.transform5 {
    -webkit-transform: translateX(-29%);
            transform: translateX(-29%);
    -webkit-transition: -webkit-transform ease 1s;
    transition: -webkit-transform ease 1s;
    transition: transform ease 1s;
    transition: transform ease 1s, -webkit-transform ease 1s;
  }
  body .main_container .right_block .div_table.transform6 {
    -webkit-transform: translateX(-43%);
            transform: translateX(-43%);
    -webkit-transition: -webkit-transform ease 1s;
    transition: -webkit-transform ease 1s;
    transition: transform ease 1s;
    transition: transform ease 1s, -webkit-transform ease 1s;
  }
  body .main_container .right_block .div_table.transform7 {
    -webkit-transform: translateX(-57.3%);
            transform: translateX(-57.3%);
    -webkit-transition: -webkit-transform ease 1s;
    transition: -webkit-transform ease 1s;
    transition: transform ease 1s;
    transition: transform ease 1s, -webkit-transform ease 1s;
  }
  body .main_container .btn_container {
    display: block;
    position: absolute;
    top: 49.5%;
    width: 100%;
  }
  body .main_container .btn_container .btn {
    background-color: rgba(171, 171, 171, 0.5);
    width: 20px;
    height: 50px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
  }
  body .main_container .btn_container .btn.right {
    float: right;
  }
  body .main_container .btn_container .btn.left {
    position: absolute;
    left: 100px;
  }
}
/*# sourceMappingURL=calendar.css.map */