$n: 7;
$n-mobile: 3;

body{
    font-family: Microsoft JhengHei;
    font-size: 14px;
    line-height: 1.5;
    .main_container{
        width: 768px;
        display: inline-block;
        position: relative;
        .left_block{
            width: 100px;
            display: inline-block;
            // @import 'leftBlock';
            .div_table{
                display: table;
                width: 100%;
                border-top: 1px solid #e1e2e4;
                .div_tr{
                    display: table-row;
                        height: 50px; 
                    .div_td{
                        display: table-cell;
                        border-left: 1px solid #e1e2e4;
                        border-bottom: 1px solid #e1e2e4;
                        color: #666;
                        text-align: center;
                        line-height: 50px;
                        cursor: pointer;
                        &:first-child{
                            background: #f1f1f1;
                        }
                        &.first_td{
                            padding: 5px;
                            background: #eaedf2;
                            .fristText{
                                height: 25px;
                                float: left;
                                &:first-child{
                                    line-height: 25px;
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right_block{
            width: calc((100% - 100px));
            // @import 'rightBlock';
            display: inline-block;
            .div_table{
                display: table;
                width: 100%;
                border-top: 1px solid #e1e2e4;
                border-right: 1px solid #e1e2e4;
                .div_tr{
                    display: table-row;
                        height: 50px;
                        &:first-child{
                            background: #eaedf2;
                        } 
                        .div_td{
                            display: table-cell;
                            border-left: 1px solid #e1e2e4;
                            border-bottom: 1px solid #e1e2e4;
                            color: #666;
                            text-align: center;
                            line-height: 50px;
                            cursor: pointer;
                            &.active{
                                background-color: #f7f7f7;
                            }
                        }    
                }
            }
        }
        .btn_container{
            display: none;
        }
    }
}

@media screen and (max-width: 769px) {
    body{
        .main_container{
            width: 100%;
            min-width: 320px;
            .left_block{
                width: 100px;
                display: inline-block;
                // @import 'leftBlock';
                .div_table{
                    display: table;
                    width: 100%;
                    border-top: 1px solid #e1e2e4;
                    .div_tr{
                        display: table-row;
                            height: 50px; 
                        .div_td{
                            display: table-cell;
                            border-left: 1px solid #e1e2e4;
                            border-bottom: 1px solid #e1e2e4;
                            color: #666;
                            text-align: center;
                            line-height: 50px;
                            cursor: pointer;
                            &:first-child{
                                background: #f1f1f1;
                            }
                            &.first_td{
                                padding: 5px;
                                background: #eaedf2;
                                .fristText{
                                    height: 25px;
                                    float: left;
                                    &:first-child{
                                        line-height: 25px;
                                        float: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right_block{
                overflow-x: hidden;
                .div_table{
                    .div_tr{
                        .div_td{
                            min-width: 170px;
                            // min-width:cale(100vw/3);
                            z-index: -1;
                            // &:not(:nth-child(-n + 3)){ 
                            //     display: table-column;
                            // }
                        }    
                    }
                    &.transform{
                        transform: translateX(-39%);
                        transition : transform ease 1s;
                        // position: relative;
                        // right:50px;
                        // transition: right 5s;
                    }
                }
                // &.transform {
                //     .div_td{
                //         &:nth-child(-n + 6):nth-child(n + 4){
                //             display: table-cell;
                //         }
                //         &:not(:nth-child(-n + 6):nth-child(n + 4)){ 
                //             display: table-column;
                //         }
                //         &:nth-child(-n + 3){ 
                //             display: table-column;
                //         }   
                //     }
                // }
                // &.transform6 {
                //     .div_td{
                //         &:nth-child(-n + 6):nth-child(n + 4){
                //             display: table-cell;
                //         }
                //         &:not(:nth-child(-n + 6):nth-child(n + 4)){ 
                //             display: table-column;
                //         }
                //         &:nth-child(-n + 3){ 
                //             display: table-column;
                //         }   
                //     }
                // }
                // &.transform7 {
                //     .div_td{
                //         &:nth-child(-n + 6):nth-child(n + 4){
                //             display: table-column;
                //         }
                //         &:nth-child(n + 5){ 
                //             display: table-cell;
                //         }   
                //     }
                // }
            }
            .btn_container{
                display: block;
                position: absolute;
                top:49.5%;
                width: 100%;
                .btn{
                    background-color: hsla(0,0%,67%,.5);
                    width: 20px;
                    height: 50px;
                    display: inline-block;
                    color: #FFF;
                    font-size: 16px;
                    cursor: pointer;
                    line-height: 40px;
                    text-align: center;
                    &.right{
                        float: right            
                    }
                    &.left{
                        position: absolute;
                        left: 100px;
                    }
                }
            }
        }
    }
}