body {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  line-height: 1.5;
  .main_container {
    width: 768px;
    display: inline-block;
    position: relative;
    .left_block {
      width: 100px;
      display: inline-block;
      @import 'leftBlock';
    }
    .right_block {
      width: calc((100% - 100px));
      display: inline-block;
      @import 'rightBlock';
    }
    .btn_container {
      display: none;
    }
  }
}
@media (max-width: 769px) {
  body {
    .main_container {
      width: 100%;
      min-width: 320px;
      .left_block {
        width: 100px;
        display: inline-block;
        position: absolute;
        top: 0;
      }
      .right_block {
        overflow: hidden;
        margin-left: 100px;
        .div_table {
          width: 100%;
          border-right: none;
          .div_tr {
            flex-wrap: nowrap;
            display: flex;
            width: 100%;
            height: 51px;
            .div_td {
              display: initial;
              min-width: calc(100% / 3);
              width: calc(100% / 3);
            }
          }
          &.transform3{
            transform: translateX(0);
            transition : transform ease 1s;
          }
          &.transform4{
                transform: translateX(calc(-100% / 3));
                transition : transform ease 1s;
          }
          &.transform5{
                transform : translateX(calc(-200% / 3));
                transition : transform ease 1s;
          }
          &.transform6{
                transform : translateX(calc(-300% / 3));
                transition : transform ease 1s;
          }
          &.transform7{
                transform : translateX(calc(-400% / 3));
                transition : transform ease 1s;
          }
        }
      }
      .btn_container {
        display: block;
        position: absolute;
        top: 49.5%;
        width: 100%;
        .btn {
          background-color: hsla(0, 0%, 67%, 0.5);
          width: 20px;
          height: 50px;
          display: inline-block;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          line-height: 40px;
          text-align: center;
          &.right {
            float: right;
          }
          &.left {
            position: absolute;
            left: 100px;
          }
        }
      }
    }
  }
}
